<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Update Nexus Poll</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
<div class="container my-5">
    <h2 class="mb-5">Update Nexus Poll</h2>
    <div class="row">
        <div class="col-md-5">
            <form action="#"
                  th:action="@{/front/nexusquest/edit/{id}(id=${quest.nexquesId})}" method="post" th:object="${quest}">
                <div class="row">
                    <div class="form-group col-md-6">
                        <select id="Poll" th:field="*{nexuspoll}">
                            <option th:each="poll : ${polls}"
                                    th:value="${poll.nexpollId}"
                                    th:text="${poll.nexpollId + ': ' + poll.nexpollName}"
                                    th:selected="${quest.nexuspoll==poll}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="questname" class="col-form-label">Name</label> <input
                            type="text" th:field="*{nexquesName}" class="form-control" id="questname"
                            placeholder="Nexus question name"> <span
                            th:if="${#fields.hasErrors('nexquesName')}" th:errors="*{nexquesName}"
                            class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="nexquesIsactive" class="col-form-label">Nexus question is active</label> <input
                            type="text" th:field="*{nexquesIsactive}" class="form-control" id="nexquesIsactive"
                            placeholder="Nexus question is active"> <span
                            th:if="${#fields.hasErrors('nexquesIsactive')}" th:errors="*{nexquesIsactive}"
                            class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="nexquesWeight" class="col-form-label">Nexus question weight</label> <input
                            type="number" step="any" th:field="*{nexquesWeight}" class="form-control" id="nexquesWeight"
                            placeholder="Nexus question weight"> <span
                            th:if="${#fields.hasErrors('nexquesWeight')}" th:errors="*{nexquesWeight}"
                            class="text-danger"></span>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4 mt-3">
                        <input type="submit" name="action" class="btn btn-primary" value="Update Nexus Question">
                    </div>
                    <div class="col-md-3 mt-3">
                        <input type="submit" name="action" class="btn btn-secondary" value="Cancel">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>