<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Add Visit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
  <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
  <link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
<div class="container my-5">
  <h2 class="mb-5">New Nexus Pool</h2>
  <div class="row">
    <div class="col-md-6">
      <form action="#" th:action="@{/front/nexuspoll/add/}" th:object="${poll}"
            method="post">
        <div class="row">
          <div class="form-group col-md-6">
            <select id="institution" th:field="*{instInstId}">
              <option th:each="ic : ${institutions}"
                      th:value="${ic.instId}"
                      th:text="${ic.instId + ': ' + ic.instName}"
                      th:selected="${poll.instInstId==ic.instId}">
              </option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="pollname" class="col-form-label">Name</label> <input
                  type="text" th:field="*{nexpollName}" class="form-control" id="pollname"
                  placeholder="Nexus poll name"> <span
                  th:if="${#fields.hasErrors('nexpollName')}" th:errors="*{nexpollName}"
                  class="text-danger"></span>
          </div>
          <div class="form-group col-md-6">
            <label for="pollStartDate" class="col-form-label">Start date</label> <input
                  type="date" th:field="*{nexpollStartdate}" class="form-control" id="pollStartDate"
                  placeholder="Date"> <span
                  th:if="${#fields.hasErrors('nexpollStartdate')}" th:errors="*{nexpollStartdate}"
                  class="text-danger"></span>
          </div>
          <div class="form-group col-md-6">
            <label for="pollEndDate" class="col-form-label">End date</label> <input
                  type="date" th:field="*{nexpollEnddate}" class="form-control" id="pollEndDate"
                  placeholder="9"> <span
                  th:if="${#fields.hasErrors('nexpollEnddate')}" th:errors="*{nexpollEnddate}"
                  class="text-danger"></span>
          </div>

        </div>
        <div class="row">
          <div class="col-md-3 mt-3">
            <input type="submit" name="action" class="btn btn-primary"
                   value="Add Nexus Poll">
          </div>
          <div class="col-md-3 mt-3">
            <input type="reset" class="btn btn-secondary" value="Clear">
          </div>
          <div class="col-md-3 mt-3">
            <input type="submit" name="action" class="btn btn-secondary"
                   value="Cancel">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>