<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Visits</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
      integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/shards.min.css" />
  </head>
  <body>
    <div class="container my-5">
      <div class="row">
        <div class="col-md-10">
          <div>
            <h2 class="my-5">Visits</h2>
            <h3 class="alert alert-primary" th:if="${visits.iterator().hasNext() == false}" >
            	There are not Visits
            </h3> 
            
            <table class="table table-striped table-responsive-md">
              <thead>
                <tr>
                  <th>Visit detail</th>
                  <th>Entrance date</th>
                  <th>Exit date</th>
                  <th>Institution</th>
                  <th>Person</th>
                  <th>Physical checkups</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="visit : ${visits}">
                  <td th:text="${visit.visitDetail}"></td>
                  <td th:text="${visit.visitEntrancedate}"></td>
                  <td th:text="${visit.visitExitdate}"></td>
                   <td th:text="${visit.institutioncampus.instcamName}"></td>
                  <td th:text="${visit.person.persName}"></td>
                  <td>
                 	 <a th:href="@{/front/visits/phycheckups/{visitId}(visitId=${visit.visitId})}">Show physical checkups</a>
                  </td>
                  
                  <td><a th:href="@{/front/visits/edit/{id}(id=${visit.visitId})}"
						class="btn btn-primary"><i class="fas fa-edit"></i></a></td>
				  <td><a th:href="@{/front/visits/del/{id}(id=${visit.visitId})}"
						class="btn btn-primary"><i class="fas fa-minus-circle"></i></a></td>
                </tr>
              </tbody>
            </table>
          </div>
          
        </div>
      </div>
      <p class="my-5">
					<a href="/front/visits/add/" class="btn btn-primary"><i class="fas fa-plus-circle"></i>  Add visit</a>
				</p>
      <a href="/"><i class="fas fa-home ml-2"></i> Go back to main</a>
    </div>
  </body>
</html>
